.blog-item-creator, .blog-item-creator a, .blog-item-date {
	font-size:12px;
	text-transform:uppercase !important;
  /*float:right !important;*/
  color:#b0b0b0 !important;
}
.blog-item-creator a {
  /*margin-left:10px !important;*/
  color:#b0b0b0;
}

.blog-post-list li.blog-item:hover {
  background:none !important;
}
.blog-item-date {
  color:#b0b0b0 !important;
}

