#comments-section .comment {
border:none !Important;
margin-bottom:15px;
}
#comments-section .comment-thread {
    margin-bottom: 45px;
}
.comment-header h4.author a {
color:rgba(26, 26, 26, 0.65);
font-size:20px;
font-family:$fontFamily4;
}
.brikit-comments .quick-comment-container .comment-user-logo {
display:none;
}
.brikit-comments .quick-comment-body {
padding-left:0;
}

#comments-section .comment-user-logo img {
width:40px;
height:40px;
}
.comment-body, .comment-header {
    padding: 0 0 0 53px;
}
#comments-section h2#comments-section-title {
    margin-bottom: 31px;
}
