.footer-nav ul li {
    float: right;
    margin-left: 44px;
    letter-spacing: .15em;
}

.footer-nav ul {
    list-style: none;
}
.footer-nav ul li img {
  margin-top: -5px;
  opacity:.32;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.footer-nav ul li img:hover {
  opacity:100;
}

.brikit-footer-content p {
    font-size: 8px;
    opacity: .3;
    letter-spacing: .15em;
}

.brikit-footer-content h6 {
    letter-spacing: .15em;
}
