/*Search Styling*/

.view-mode #quick-search :focus {
    outline: none;
}

.view-mode #quick-search {
  width:0;
  transition: all 0.5s ease;
  border:0;
  margin-right: 180px;
}

.view-mode .search-glass {
    position: absolute;
    overflow: hidden;
    width:20px;
    height:55px;
    bottom:0px;
    z-index: 999;
    right: 149px;
    transition: all 0.5s ease;
    cursor:pointer;
    background: url($brikitCore.directURL/designs/themes/$brikitCore.urlEncode($brikitThemeName)/images/search.png) no-repeat center center;
    background-size:63%;
    padding-left: 12px;
    padding-right: 12px;
}
.view-mode .search-glass-expanded {
    right:390px;
}

.view-mode .search-glass.search-glass-expanded {
  border: none;
}

.view-mode .search-expanded {
  width:220px !important;
  padding-left:25px !important;

}
.view-mode .search-expanded input {
  padding-left: 10px !important;
}
.view-mode .search-expanded .search-input-fields {
  height:100%;
  z-index:999;
  position:relative;
}

.view-mode .quick-nav-drop-down .aui-dropdown li.with-space-name:hover, #quick-search li.active, #quick-search li.active a, #quick-search li.active a span, #quick-search li.active a.space-name {
  background-color: $secondaryColor;
}

.view-mode #quick-search li:hover a.space-name {
    color: #fff;
}

.no-search .search-glass {
  display: none;
}
