/*
* === Call to Action buttons. If you have a copy of this theme, you will need to change the theme name in the image URLs below. ===
*/
.action-button.call-to-action {
  padding: 5px 26px 5px 9px;
  background: $primaryColor url(/plugins/servlet/themepress/brikitservlet/designs/themes/lumen/images/CTA-arrow.png) 92% 50% no-repeat;
}

.action-button.call-to-action:hover {
  background: #101E3B url(/plugins/servlet/themepress/brikitservlet/designs/themes/lumen/images/CTA-arrow.png) 92% 50% no-repeat;
}

#main .brikit-content-layers .aui-button.action-button.call-to-action a {
  font-size: 16px;
}

/*
* === Hover Blocks - Studios ===
*/
.hover-block, .rich-link {
  background:$whiteColor;
  border:none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding:0px !important;
  transform: translatez(0);
}

.rich-link {
  box-shadow:0 -3px 49px rgba(0,0,0,0.05), 0 14px 23px rgba(0,0,0,0.02);
  margin:0 !important;
}

.hover-block h5, .rich-link h5 {
  font-size:20px !important;
}
.hover-block p, .rich-link p {
  font-size:16px !Important;
}
.hover-block .office-location-name p {
  font-family:$fontFamily5;
  color:rgba(26, 26, 26, 0.36);
  margin-top:0;
}

.hover-block .office-time-zone p {
  font-family:$fontFamily2;
  color:rgba(26, 26, 26, 0.36);
  margin-top:0;
  font-size:20px;
}

.hover-block .office-time-zone p img {
  width:12px;
}
.office-name h6 {
  color:rgba(26, 26, 26, 0.65) !important;
}
.hover-block hr {
  border-color: #E7E6E2;
}
.hover-block:hover, .rich-link:hover {
  box-shadow: 0px 36px 34px rgba(0, 0, 0, .1);
  transform: translateY(-10px);
  background:$whiteColor;
}

.hover-block .block-image img {
  margin: 0 !important;
  max-width: 100% !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.rich-link-details h4.rich-link-title {
  font-size:22px !important;
  color:rgba(26, 26, 26, 0.65);
}
.rich-link-details h6.rich-link-space-name {
font-size:16px !important;
color:rgba(26, 26, 26, 0.36);
font-family:$fontFamily5;
}

.rich-link-details .rich-link-description {
  font-size:14px;
  color:rgba(26, 26, 26, 0.36);
}
/*
* === Hero Headline Layer Styling ===
*/
.headline-hero h1, .headline-hero h2, .headline-hero h3, .headline-hero h4, .headline-hero h5, .headline-hero h6, .headline-hero p {
  color:$whiteColor;
}
.headline-hero .brikit-content-block h4 {
  font-family: Gilroy Medium;
  font-weight:100;
  font-size: 22px;
}
.headline-hero .brikit-content-block h2 { 
  font-size: 56px;
}
.headline-hero #title-text {
    color:$whiteColor;
    font-size: 56px;
}
.office-time-date p {
  margin-top:0;
  font-family: Gilroy Medium;
  color:rgba(255, 255, 255, 0.7);
}
.hero-bottom-shadow {
  box-shadow: inset 0 -122px 190px -10px rgba(16, 16, 16, 0.72)
}
.hero-bottom-shadow h1 {
  margin-top:10px;
}
/*
* === Pseudo element creates drop shadow below navigation bar ===
*/
.secondary-nav-layout .headline-hero:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 40px;
    box-shadow: inset 0px 22px 47px -11px rgba(0, 0, 0, 0.58);
}
.brikit-header-backdrop {
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.52);
}
.secondary-nav-layout .brikit-header-backdrop {
  box-shadow:none;
}
/*
* === Header & Menu Customization ===
*/
.aui-avatar-small .aui-avatar-inner img {
  border-radius:50%
}
#user-menu-link {
  padding-top:15px;
}

.table-wrap td, .table-wrap tr {
  border:none !important;
}
.app-menu-icon {
  margin-top: 4px;

  display: inline-block;
}
.app-menu-icon a.rollover-image-link {
  padding-right:8px !important;
}

.question-menu-icon {
  margin-top: 4px;
  display: inline-block;
}


.brikit-content-block.sub-menu ul {
list-style-type: none;
margin: 0 auto;
}
 
.brikit-content-block.sub-menu ul li {
float: right;
margin: 0 0 0 46px;
}

.brikit-content-block.sub-menu ul li a {
  font-family:$fontFamily2;
  text-transform:uppercase;
  font-size:14px;
  color:rgba(26, 26, 26, 0.65);
}
.brikit-content-block.sub-menu ul li a:hover {
  color:rgba(26, 26, 26, 0.65);
  text-decoration: none !important;
  border:none !important;
}

.brikit-content-block.sub-menu ul li:hover {
  border-bottom: solid 3px #dddddd;
}

.brikit-menu .aui-navgroup-horizontal .aui-nav > li a {
  letter-spacing:.05em;
  font-smooth: auto;
}
.top-level .aui-avatar-small .aui-avatar-inner {
  height:36px;
  width:36px;
}
.top-level .aui-avatar-small {
  height:36px;
  width:36px;
}
.top-level .aui-avatar-small .aui-avatar-inner img {
  max-height:36px;
  max-width:36px;
}

/*
* === Confluence Type Fixes ===
*/
#comments-section-title, #ChildPage-Contents {
  font-size:22px;
}
#activity h2, #follow h2, .profile-info h2, .profile-section h2, .profile-page h2 {
  font-size:33px;
}

/*
* === Tabs Styling ===
*/
.tabs-panel {
  border-radius:0px !important;
}
.tabs-menu .menu-item a {
    padding: 10px !important;
    border: solid 1px #d4d4d4 !important;
    border-radius: 0px;
}
.brikit-content-layers .tabs-menu.theme-press .menu-item a {
    border-left-color: #dcdcdc !important;
}

/*
* === Buttons ===
*/
.aui-button.action-button, .aui-button.action-button a {
  transition: all 0.25s ease;
  letter-spacing:.15em;
}
.aui-button.action-button.secondary-button {
  background: transparent;

    background: transparent;
}
.aui-button.action-button.secondary-button:hover {
 
}
.aui-button.action-button.secondary-button:hover a {
  color:#AB2C2F !important;
}
.aui-button.action-button.secondary-button a {
  color:$secondaryColor !important;
}

/*
* === Hides Drop Down Arrow after App and User Icon in Primary Nav ===
*/
.app-menu-icon:after, .user-menu-icon:after, li.top-level #user-menu-link:after {
  display:none;
}

/*
* === Header Letter Spacing Fix ===
*/
.brikit-canvas h1, .brikit-canvas h1, .brikit-canvas h1, .brikit-canvas h1, .brikit-canvas h1, .brikit-canvas h1, {
  letter-spacing:.035em;
}

.office-info p {
font-size:14px;
}
.aui-button {
    line-height: 31%;
}
.aui-tabs.horizontal-tabs>.tabs-menu~.tabs-pane {
  border:none;
}
.question-icon {
  display: block;
  margin: 7px 0px 0px -2px;
}
.plugin_pagetree_children_list li {
line-height:1em !Important;
}
.aui-dialog2-content h2, h2.aui-dialog2-header-main {
  font-size:17px;
}
/*Hide Likes*/
#likes-section {
display:none;
}

/*Article Meta User Macro*/
.article-meta {
  font-size:18px;
  font-family:$fontFamily3;
}
.article-meta .confluence-userlink {
  background:transparent !important;
  border:none !important;
}
.article-intro-text {
position:relative;
}
.article-intro-text:after {
content:'';
width:50px;
height:2px;
background-color:$secondaryColor;
position:absolute;
bottom:0;
left:28px;
}
.map-link a {
    font-size: 12px;
    text-transform: uppercase !important;
    color: #c6c6c6 !important;
    font-family:$fontFamily3;
    letter-spacing:.05em;
}
.map-link img {
  width:10px;
}

.image-caption-inline h6 {
  font-size:16px !important;
  color:#c6c6c6;
  font-family: $fontFamily4;
}
.brikit-menu-panel {
  box-shadow: 0px 32px 64px rgba(26, 26, 26, .25);
}
.author-info-lp p {
  font-family: $fontFamily5;
  font-size: 18px;
  color: rgba(26, 26, 26, 0.36);
}
.employee-info p {
  font-family: $fontFamily5;
  font-size: 16px;
  color: rgba(26, 26, 26, 0.36);
}
.hide-label-edit .labels-edit-container {
  display: none;
}
.tldr h3, #comments-section-title, #Article-Events, #Article-Author {
  font-size:30px;
  color:rgba(26, 26, 26, 0.36);
}

.article-body p {
  margin-bottom: 39px;
}
.article-body h5 {
  font-size: 22px;
}

.quick-comment-prompt {
  border: 1px rgba(0, 0, 0, 0.04) solid;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.quick-comment-prompt span {
  color:rgba(26, 26, 26, 0.5) !important;
  font-family:$fontFamily1;
  font-size:20px;
}
.up-next h2, .up-next p {
  color:#fff;
}
.up-next p {
  font-family:$fontFamily3;
  font-size:22px;
}
.up-next h2 {
  font-size:52px;
}
.up-next h3 {
  color:rgba(255, 255, 255, 0.8);
}
#content blockquote p {
    line-height: 1.75em;
}
.profile-macro a.url.fn.confluence-userlink.userlink-0 {
  font-size:18px;
  font-family:$fontFamily5;
  color:rgba(26, 26, 26, 0.6);
}
.profile-macro h4 {
margin-top:-13px !important;
}


/*
* === Article Font Overrides ===
*/

.article-page .article-body h2 {
  font-size:22px;
}
.article-body .profile-macro .vcard .userLogo {
  border-radius:50%;
}


/*
* === Rich Links ===
*/
.rich-link .rich-link-image {
  width:180px;
  height:180px;
}
.rich-link .rich-link-details {
    padding: 28px 28px 28px 40px;
}


/*
* === TOC Macro ===
*/
.toc-item-body a {
  display:block;
  line-height:1.8;
}
.brikit-simple-toolbar-toggle-icon {
    display: none;
}
.toc-macro > ul > li {
    margin-bottom: 13px;
}
a.toc-link {
    font-size: 16px;
    color: rgba(26, 26, 26, 0.6) !important;
    font-family:$fontFamily2;
}
.toc-macro li li a.toc-link {
  font-family:$fontFamily3;
}
.toc-macro ul ul {
    border-bottom: solid 2px rgba(0, 0, 0, 0.05);
    padding-bottom: 11px;
}
